.btn-work {
    background-color: #1cb8cf; 
    border: none;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 100%;
    cursor: pointer;
    padding: 2px;
}
.card{
    border:transparent;
    border-radius: 3%;
}
.btn-exit{
    padding-left:2;
    margin: 0%;
    border: none;
    color: #fc6555;
    background-color: transparent;
}
.btn-edit{
    margin-top: 20%;
    margin-bottom: 10%;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size:100% ;
    font-weight: bold;
    padding: 4px;
}