
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<div class="container p-0" style="width:100%">
  <div class="card shadow p-2 pb-4 mb-4 bg-white">
    <div class="container">
      <p><i class="fas fa-square"></i><b> ACCOUNT</b></p>
     
      <div class="container p-0 m-0">
          <div class="row pt-2 pb-2 mb-2">
            <div class="col-sm-6 align-self-start"style="font-size:small;">Customer since <br><b>04 Sep 2020</b></div>
          </div>
      </div>

      <div class="container p-0 m-0">
        <div class="row border-bottom pb-2 mb-2">
          <div class="col-sm-7 align-self-start"style="font-size:small;"><span style="font-size:x-small;">Full Name</span><br><b>Zlate Ristovski</b></div>
          <div class="col-sm-5 align-self-end"><button type="button" class="btn btn-info btn-work"><i class="fas fa-pencil-alt"></i> EDIT</button></div>
        </div>
      </div>
        
      <div class="container p-0 m-0">
        <div class="row border-bottom pb-2 mb-2">
          <div class="col-sm-7 align-self-start"style="font-size:small;"><span style="font-size:x-small;">Name of Organization</span><br><b> RelianSys Pty Ltd.</b></div>
          <div class="col-sm-5 align-self-end"><button type="button" class="btn btn-info btn-work"><i class="fas fa-pencil-alt"></i> EDIT</button></div>
        </div>
      </div>

      <div class="container p-0 m-0">
        <div class="row border-bottom pb-2 mb-3">
          <div class="col-sm-7 align-self-start"style="font-size:small;"><span style="font-size:x-small;">Super Administrator</span><br><b>Jeff Ryall</b></div>
          <div class="col-sm-5 align-self-end"><button type="button" class="btn btn-info btn-work"><i class="fas fa-pencil-alt"></i> EDIT</button></div>
        </div>
      </div>

    </div>
  </div>


<div class="card shadow p-3 bg-white">
    <div class="container">
      <p><i class="fas fa-square"></i><b> BILLING & PAYMENT</b></p>
     
      <div class="container p-0 m-0">
        <div class="row pt-3 pb-3">
          <div class="col border border-danger rounded p-2 text-center"style="font-size:small; background-color:#fff1f1;color:#fc6555;">Credit card expaires in 1 month<button class="btn-exit"><i class="fas fa-times fa-xs"></i></button></div>
        </div>
      </div>

      <div class="container p-0 m-0">
        <div class="row border-bottom pt-3 pb-2">
          <div class="col align-self-start"style="font-size:small;"><i class="far fa-image fa-s pr-4"></i><b class="p-2">... 4242</b> Expires 02/2024</div>
        </div>
      </div>
        
      <div class="container p-0">
        <div class="row">
          <div class="col"><a href="#" class="btn btn-outline-dark btn-edit"><i class="fas fa-pencil-alt"></i>EDIT BILLING INFO</a></div>
        </div>
      </div>    
    
    </div>
  </div>
</div>
